<footer>
  <div class="container">
    <div class="row">

      <div class="footer-behav">
        <div class="col-18per">
          {% if informations %}
          <h5>{{ text_information }}</h5>
          <ul>
            {% for information in informations %}
              <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="col-18per">
          <h5>{{ text_service }}</h5>
          <ul>
            <li><a href="{{ contact }}">{{ text_contact }}</a></li>
            <li><a href="{{ return }}">{{ text_return }}</a></li>
            <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          </ul>
        </div>
      </div>
      
      <div class="footer-behav">
        <div class="col-18per">
          <h5>{{ text_extra }}</h5>
          <ul>
            <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
            <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
            <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
            <li><a href="{{ special }}">{{ text_special }}</a></li>
          </ul>
        </div>
        <div class="col-18per">
          <h5>{{ text_account }}</h5>
          <ul>
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-28per">
        <h3 class="feedback">{{ text_feedback }}</h3>
        <div class="supserv">
          <i class="fa fa-phone-square fa-4x" aria-hidden="true"></i>
          <div>
            <h4>{{ text_supportservice }}</h4>
            <h1>{{ telephone }}</h1>
          </div>
        </div>
        <h4>{{ text_workschedule }}</h4>
        <p>{{ text_mondayfriday }}</p>
        <p>{{ text_saturday }}</p>
        <p>{{ text_sunday }}</p>
      </div>
    </div>
    <hr>
    
    <div class="row-center">
      <div>
        <i class="fa fa-cc-visa fa-4x" aria-hidden="true"></i>
        <i class="fa fa-cc-mastercard fa-4x" aria-hidden="true"></i>
        <img src="image/catalog/icons/privat24-icon.svg" alt="privat24">
      <div>
      <p>{{powered}}</p>
      <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
    </div>
    
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>