<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}


<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
{# <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> #}
{# <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> #}
{# <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" /> #}
{# <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet"> #}

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}


<!-- fontawesome -->
<script src="https://kit.fontawesome.com/c623a28647.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
            <div class="header-top">

                <a href="/"><h1>LoMarket</h1></a>

                <div class="main-nav">
                  <ul>
                      <li><a href="javascript:void(0);">{{text_shops}}</a></li>
                      <li><a href="javascript:void(0);">{{text_toclients}}</a><span></span>
                          <ul>
                            <li><a href="#!">{{text_discountedgoods}}</a></li>
                            <li><a href="#!">{{text_deliverypayment}}</a></li>
                            <li><a href="#!">{{text_lomarketblog}}</a></li>
                            <li><a href="#!">{{text_about}}</a></li>
                            <li><a href="#!">{{text_publicoffer}}</a></li>
                            <li><a href="#!">{{text_contacts}}</a></li>
                          </ul>
                      </li>
                      <li><a href="javascript:void(0);">{{text_service}}</a><span></span>
                        <ul>
                          <li><a href="#!">{{text_lomarketservice}}</a></li>
                          <li><a href="#!">{{text_servicecenters}}</a></li>
                          <li><a href="javascript:void(0);">{{text_serviceinformation}}</a><span></span>
                            <ul>
                              <li><a href="#!">{{text_servicewarranty}}</a></li>
                              <li><a href="#!">{{text_exchangereturn}}</a></li>
                            </ul>
                          </li>
                          <li><a href="#!">{{text_appealstatus}}</a></li>
                        </ul>
                      </li>
                      <li><a href="javascript:void(0);">{{text_promotions}}</a><span></span>
                        <ul>
                          <li><a href="javascript:void(0);">{{text_loyaltyprograms}}</a><span></span>
                            <ul>
                              <li><a href="#!">{{text_aboutloyalty}}</a></li>
                              <li><a href="#!">{{text_giftcertificates}}</a></li>
                            </ul>
                          </li>
                          <li><a href="#!">{{text_allpromotions}}</a></li>
                          <li><a href="#!">{{text_discount}}</a></li>
                          <li><a href="#!">{{text_sale}}</a></li>
                          <li><a href="#!">{{text_kit}}</a></li>
                        </ul>
                      </li>
                  </ul>
                </div>

                {{language}}

                {% if logged %}
                <a href="{{ account }}"><i class="fa fa-user" aria-hidden="true"></i>{{ text_account }}</a>
                {% else %}
                <a href="{{ login }}"><i class="fas fa-sign-in-alt"></i>{{text_login}}</a>
                {% endif %}
            </div>

            
            <div class="header-bottom">
                <button class="main-menu-btn active" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <div class="burger"></div>
                    <span>{{ text_catalogue }}</span>
                </button>

                {{ search }}

                <div class="callback-wrap">
                    <div class="callback-in">
                        <h4>{{telephone}}<i class="fa fa-angle-down" aria-hidden="true"></i></h4>
                        <img src="image/catalog/icons/common-header-callback.svg" alt="lomarket callback" class="callback-icon">
                        <a href="#!">{{text_ordercallback}}</a>
                    </div>
                    <div class="callback-out">
                        <h4>{{telephone}}<i class="fa fa-angle-up" aria-hidden="true"></i></h4>
                        <p>{{text_phoneclient}}</p>
                        <h4>0 800 000 000</h4>
                        <p>{{text_phoneorderproc}}</p>
                        <h4>0 800 000 000</h4>
                        <p>{{text_phonelegalperson}}</p>
                    </div>
                </div>


                <div class="header-wrapbox">
                    <div>
                        <i class="fas fa-caravan"></i>
                    </div>
                    <a href="{{ tracking }}" id="{{tracking}}" title="{{ text_tracking }}">{{ text_tracking }}</a>

                </div>

                <div class="header-wrapbox">
                    <div>
                        <i class="fa fa-heart" aria-hidden="true"></i><span id="wishlist-count">{{text_wishlist_count}}</span>
                    </div>
                    <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">{{ text_wishlist }}</a>
                </div>


                <div class="header-wrapbox">
                    <div>
                        <i class="fa fa-balance-scale" aria-hidden="true"></i><span id="compare-count">{{text_compare_count}}</span>
                    </div>
                    <a href="{{ compare }}" id="compare-total" title="{{ text_compare }}">{{ text_compare }}</a>
                </div>


                <div class="cart">
                  <a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}">
                      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                      <div class="circle">
                          <p>{{text_items_count}}</p>
                      </div>
                  </a>
                </div>

            </div>
        </div>
    </header>

{# {{ menu }} #}
