{{ header }}
<div id="checkout-checkout" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    
    <div id="content" class="{{ class }}">
        <h1>{{ heading_title }}</h1>

        <div class="panel-group">
            
            <h4>{{ text_checkout_payment_address }}</h4>
            <div id="guest-payment-address-body">
            </div>
            <hr>

            {% if shipping_required %}
            <h4>{{ text_checkout_shipping_address }}</h4>
            <div id="guest-shipping-address-body">
            </div>
            <hr>

            <h4>{{ text_checkout_shipping_method }}</h4>
            <div id="guest-shipping-method-body">
            </div>
            {% endif %}
            <hr>

            <h4>{{ text_checkout_payment_method }}</h4>
            <div id="guest-payment-method-body">
            </div>
            <hr>

            <div class="row">
                <button id="button-checkout-calculate">{{ text_checkout_submit }}</button>
            </div>
            <h4>{{ text_checkout_confirm }}</h4>
            <div id="confirm-body">
            </div>

        </div>
    </div>
    
</div>


<script type="text/javascript"><!--

const c = {
    guest_OnCountryChange: function(selector) {
        $(selector + ' select[name=\'country_id\']').on('change', function() {
            
            $.ajax({
                url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
                dataType: 'json',
                beforeSend: function() {
                    $(selector + ' select[name=\'country_id\']').prop('disabled', true);
                },
                complete: function() {
                    $(selector + ' select[name=\'country_id\']').prop('disabled', false);
                },
                success: function(json) {

                    if (json['postcode_required'] == '1') {
                        $(selector + ' input[name=\'postcode\']').parent().parent().addClass('required');
                    } else {
                        $(selector + ' input[name=\'postcode\']').parent().parent().removeClass('required');
                    }


                    html = '<option value="">' + json['text_select'] + '</option>';

                    if (json['zone'] && json['zone'] != '') {
                        for (i = 0; i < json['zone'].length; i++) {
                            html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                            if (json['zone'][i]['zone_id'] == json['zone_id']) {
                                html += ' selected="selected"';
                            }

                            html += '>' + json['zone'][i]['name'] + '</option>';
                        }
                    } else {
                        html += '<option value="0" selected="selected">' + json['text_none'] + '</option>';
                    }

                    $(selector + ' select[name=\'zone_id\']').html(html);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        $(selector + ' select[name=\'country_id\']').trigger('change');
    },
    guest_OnTermsAgree: function() {
        $(document).delegate('#guest-payment-method-body input[type=\'checkbox\']', 'click', function() {
            if(this.name == "agree") {
                var checkedStatus = (this.checked && this.name == 'agree') ? '1' : '0';
                $.ajax({
                    url: 'index.php?route=checkout/easy_guest_payment_method/agree&agree=' + checkedStatus,
                    dataType: 'json',
                    success: function(json) {

                        //todo: json["error"] handling, in controller too

                        //console.log(json);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }

        });
    },
    //not used
    emitWarning: function(selector, msg){
        $(selector.body).prepend('<div class="alert alert-warning alert-dismissible">' + msg + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    },
    // not used
    emitError: function(selector, msg) {
        $(selector.body).prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + msg + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    },
    addErrorElement: function(elmPrefix, msg){
        for (i in msg) {
            var element = $(elmPrefix + i.replace('_', '-')); 

            if ($(element).parent().hasClass('input-group')) {
                $(element).parent().after('<div class="text-danger">' + msg[i] + '</div>');
            } else {
                $(element).after('<div class="text-danger">' + msg[i] + '</div>');
            }
        }
    },
    ajaxHtml: function(collapseKey){
        var selfKey = this[collapseKey];
        return $.ajax({
            url: selfKey.url,
            dataType: 'html',
            //async: false,
            success: function(html) {
                console.log("html: " + selfKey.url);
                $(selfKey.body).html(html);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    },
    "guestPaymentAddress": {
        "url":"index.php?route=checkout/easy_guest_payment_address", 
        "body":"#guest-payment-address-body",
    },
    "guestShippingAddress": {
        "url":"index.php?route=checkout/easy_guest_shipping_address", 
        "body":"#guest-shipping-address-body",
    },
    "guestShippingMethod": 
    {
        "url":"index.php?route=checkout/easy_guest_shipping_method", 
        "body":"#guest-shipping-method-body",
    },
    "guestPaymentMethod": {
        "url":"index.php?route=checkout/easy_guest_payment_method", 
        "body":"#guest-payment-method-body",
    },
    "confirm": {
        "url":"index.php?route=checkout/easy_confirm", 
        "body":"#confirm-body",
    }
}


$(document).ready(function() {
    (async function() {
	    await guestPaymentAddress(); // guestCheckout previously
        c.guest_OnCountryChange('#guest-payment-address-body');
        
        {% if shipping_required %}
        await guestShippingAddress();
        c.guest_OnCountryChange('#guest-shipping-address-body');
        await guestShippingMethod();
        {% endif %}
        
        await guestPaymentMethod();
        c.guest_OnTermsAgree();
    })();
});

function guestPaymentAddress() {
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_payment_address',
        dataType: 'html',
        async: false,
        success: function(html) {
            //console.log("easy_guest_payment_address");
            // $('.alert-dismissible, .text-danger').remove();
			// $('.form-group').removeClass('has-error');

            $(c.guestPaymentAddress.body).html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

function guestShippingAddress() {
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_shipping_address',
        dataType: 'html',
        async: false,
        success: function(html) {
            //console.log("easy_guest_shipping_address");
            // $('.alert-dismissible, .text-danger').remove();
			// $('.form-group').removeClass('has-error');

            $(c.guestShippingAddress.body).html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

function guestShippingMethod() {
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_shipping_method',
        dataType: 'html',
        async: false,
        success: function(html) {
            //console.log("easy_guest_shipping_method");

            $(c.guestShippingMethod.body).html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}


function guestPaymentMethod() {
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_payment_method',
        dataType: 'html',
        async: false,
        success: function(html) {
            //console.log("easy_guest_payment_method");

            $(c.guestPaymentMethod.body).html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}


function guestPaymentAddressSave() {  
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_payment_address/save',
        type: 'post',
        data: $('#guest-payment-address-body input[type=\'text\'], #guest-payment-address-body input[type=\'date\'], #guest-payment-address-body input[type=\'datetime-local\'], #guest-payment-address-body input[type=\'time\'], #guest-payment-address-body input[type=\'checkbox\']:checked, #guest-payment-address-body input[type=\'radio\']:checked, #guest-payment-address-body input[type=\'hidden\'], #guest-payment-address-body textarea, #guest-payment-address-body select'),
        dataType: 'json',
        async: false,
        success: function(json) {
            //console.log("easy_guest_payment_address/save");
            //console.log(json);
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitWarning(c.guestPaymentAddress, json['error']['warning']);
                }
                c.addErrorElement('#input-payment-', json['error']);
				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            }
            // else {
            //     {% if shipping_required %}
            //     var shipping_address = $('#guest-payment-address-body input[name=\'shipping_address\']:checked').prop('value');

            //     if (shipping_address) {
            //         //update Shipping method and then guestShipping address
            //     } else {
            //         //update guestShipping address
            //     }
            //     {% endif %}
            // }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}


function guestShippingAddressSave() {
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_shipping_address/save',
        type: 'post',
        data: $('#guest-shipping-address-body input[type=\'text\'], #guest-shipping-address-body input[type=\'date\'], #guest-shipping-address-body input[type=\'datetime-local\'], #guest-shipping-address-body input[type=\'time\'], #guest-shipping-address-body input[type=\'password\'], #guest-shipping-address-body input[type=\'checkbox\']:checked, #guest-shipping-address-body input[type=\'radio\']:checked, #guest-shipping-address-body textarea, #guest-shipping-address-body select'),
        dataType: 'json',
        async: false,
        success: function(json) {
            //console.log("easy_guest_shipping_address/save");
            //console.log(json);
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error'); 

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitError(c.guestShippingAddress, json['error']['warning']);
                }
                c.addErrorElement('#input-shipping-', json['error']);
                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}



function guestShippingMethodSave() {
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_shipping_method/save',
        type: 'post',
        data: $('#guest-shipping-method-body input[type=\'radio\']:checked, #guest-shipping-method-body textarea'),
        dataType: 'json',
        async: false,
        success: function(json) {
            // console.log("easy_guest_shipping_method/save");
            // console.log(json);
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitError(c.guestShippingMethod, json['error']['warning']);
                }
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}



function guestPaymentMethodSave() {
    return $.ajax({
        url: 'index.php?route=checkout/easy_guest_payment_method/save',
        type: 'post',
        data: $('#guest-payment-method-body input[type=\'radio\']:checked, #guest-payment-method-body input[type=\'checkbox\']:checked, #guest-payment-method-body textarea'),
        dataType: 'json',
        async: false,
        success: function(json) {
            // console.log("easy_guest_payment_method/save");
            // console.log(json);
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitError(c.guestPaymentMethod, json['error']['warning']);
                }
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
    



$(document).delegate('#button-checkout-calculate', 'click', function() {

    //todo:
        // beforeSend: function() {
        // 	$('#button-account').button('loading');
		// },
        // complete: function() {
		// 	$('#button-account').button('reset');
        // },

    
    guestPaymentAddressSave().then(function(){
        guestShippingAddressSave().then(function(){
            guestShippingMethodSave().then(function(){
                guestPaymentMethodSave().then(function(){
                    c.ajaxHtml('confirm');
                });
            });
        });
    });
});



//-->
</script> 
{{ footer }}