{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_option }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-checkout-option">
            <div class="panel-body"></div>
          </div>
        </div>
        {% if not logged and account != 'guest' %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_account }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-payment-address">
            <div class="panel-body"></div>
          </div>
        </div>
        {% else %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_payment_address }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-payment-address">
            <div class="panel-body"></div>
          </div>
        </div>
        {% endif %}
        {% if shipping_required %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_shipping_address }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-shipping-address">
            <div class="panel-body"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_shipping_method }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-shipping-method">
            <div class="panel-body"></div>
          </div>
        </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_payment_method }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-payment-method">
            <div class="panel-body"></div>
          </div>
        </div>
        
        <button id="button-checkout-calculate">{{text_checkout_submit}}</button>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_confirm }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-checkout-confirm">
            <div class="panel-body"></div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
const c = {
    emitWarning: function(selector, msg){
        $(selector.body).prepend('<div class="alert alert-warning alert-dismissible">' + msg + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    },
    emitError: function(selector, msg) {
        $(selector.body).prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + msg + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    },
    addErrorElement: function(elmPrefix, msg){
        for (i in msg) {
            var element = $(elmPrefix + i.replace('_', '-')); 

            if ($(element).parent().hasClass('input-group')) {
                $(element).parent().after('<div class="text-danger">' + msg[i] + '</div>');
            } else {
                $(element).after('<div class="text-danger">' + msg[i] + '</div>');
            }
        }
    },
    ajaxBodyUpdate: function(collapseKey, btnE = null){
        var selfKey = this[collapseKey];
        return $.ajax({
            url: selfKey.url,
            dataType: 'html',
            async: false,
            success: function(html) {
                //console.log(selfKey.url);
                $(selfKey.body).html(html);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    },
    "login":               {"url":"index.php?route=checkout/login",
                       "body":"#collapse-checkout-option .panel-body"},
    "guestPaymentAddress": {"url":"index.php?route=checkout/guest", 
                       "body":"#collapse-payment-address .panel-body"},
    "guestShipping":       {"url":"index.php?route=checkout/guest_shipping", 
                       "body":"#collapse-shipping-address .panel-body"},
    "paymentAddress":      {"url":"index.php?route=checkout/payment_address", 
                       "body":"#collapse-payment-address .panel-body"},
    "shippingAddress":     {"url":"index.php?route=checkout/shipping_address", 
                       "body":"#collapse-shipping-address .panel-body"},
    "shippingMethod":      {"url":"index.php?route=checkout/shipping_method", 
                       "body":"#collapse-shipping-method .panel-body"},
    "paymentMethod":       {"url":"index.php?route=checkout/payment_method", 
                       "body":"#collapse-payment-method .panel-body"},
    "confirm":             {"url":"index.php?route=checkout/confirm", 
                       "body":"#collapse-checkout-confirm .panel-body"}
}



// login(#button-account) -> payment_address(#button-guest)->shipping-address(#button-guest-shipping)->
// ->shipping_method(button-shipping-method)->payment_method(button-payment-method)->checkoutconfirm(input.btn.btn-primary)

$(document).ready(function() {
    (async function() {
	    await guestCheckout();
        await c.ajaxBodyUpdate('guestPaymentAddress');

        {% if shipping_required %}
        await createShippingAddressAndMethod();
        {% endif %}
        
        await c.ajaxBodyUpdate('shippingMethod');
        await c.ajaxBodyUpdate('paymentMethod');
    })();
});



function guestCheckout() {
    return $.ajax({
        url: 'index.php?route=checkout/guest',
        dataType: 'html',
        async: false,
        success: function(html) {
            //console.log("checkout/guest [GuestCheckout()]");
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            $(c.paymentAddress.body).html(html);

			if ($('input[name=\'account\']:checked').val() == 'register') {
				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
			} else {
				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
			}
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}


function guestPaymentAddressZoneId(){
    var countryId = $('#collapse-payment-address select#input-payment-country').val();
    return $.ajax({
        url: 'index.php?route=checkout/checkout/country&country_id=' + countryId,
        dataType: 'json',
        async: false,
        beforeSend: function() {
            $('#collapse-payment-address select[name=\'country_id\']').prop('disabled', true);
        },
        complete: function() {
            $('#collapse-payment-address select[name=\'country_id\']').prop('disabled', false);
        },
        success: function(json) {
            //console.log("checkout/country&country_id= [guestPaymentAddressZoneId()]");


            if (json['postcode_required'] == '1') {
                $('#collapse-payment-address input[name=\'postcode\']').parent().parent().addClass('required');
            } else {
                $('#collapse-payment-address input[name=\'postcode\']').parent().parent().removeClass('required');
            }

            let html = '<option value="">{{ text_select }}</option>';

            if (json['zone'] && json['zone'] != '') {
                for (i = 0; i < json['zone'].length; i++) {
                    html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                    if (json['zone_id'] && json['zone'][i]['zone_id'] == json['zone_id']) {
                        html += ' selected="selected"';
                    }

                    html += '>' + json['zone'][i]['name'] + '</option>';
                }
            } else {
                html += '<option value="0" selected="selected">{{ text_none }}</option>';
            }

            $('#collapse-payment-address select[name=\'zone_id\']').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
                

}

function guestPaymentAddress() {  
    return $.ajax({
        url: 'index.php?route=checkout/guest/save',
        type: 'post',
        data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
        dataType: 'json',
        async: false,
        success: function(json) {
            //console.log("checkout/guest/save [guestPaymentAddress()]");
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitWarning(c.paymentAddress, json['error']['warning']);
                }
                c.addErrorElement('#input-payment-', json['error']);
				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        async: false,
                        success: function(html) {
                            //console.log("shipping_method [guestPaymentAddress(shipping_req+ship_address_req)]");
							
                            c.ajaxBodyUpdate('guestShipping'); // Add the shipping address

						    $('#collapse-shipping-method .panel-body').html(html);
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                    c.ajaxBodyUpdate('guestShipping');
                }
                {% else %}
                c.ajaxBodyUpdate('paymentMethod');
                {% endif %}
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}


async function createShippingAddressAndMethod() {
    var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

    if (shipping_address) {
        return await $.ajax({
            url: 'index.php?route=checkout/shipping_method',
            dataType: 'html',
            async: false,
            success: function(html) {
                c.ajaxBodyUpdate('guestShipping'); // Add the shipping address

                $('#collapse-shipping-method .panel-body').html(html);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    } else {
        return await c.ajaxBodyUpdate('guestShipping');
    }
}



function guestShippingAddress() {
    return $.ajax({
        url: 'index.php?route=checkout/guest_shipping/save',
        type: 'post',
        data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
        dataType: 'json',
        async: false,
        success: function(json) {
            //console.log("guest_shipping/save [guestShippingAddress()]");
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitError(c.shippingAddress, json['error']['warning']);
                }
                c.addErrorElement('#input-shipping-', json['error']);
                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
            } else {
                c.ajaxBodyUpdate('shippingMethod');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}


function shippingMethod() {
    return $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
        dataType: 'json',
        async: false,
        success: function(json) {
            //console.log("shipping_method/save [shippingMethod()]");
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitError(c.shippingMethod, json['error']['warning']);
                }
            } else {
                c.ajaxBodyUpdate('paymentMethod');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}



$(document).delegate('#collapse-payment-method input[type=\'checkbox\']', 'click', function() {
    if(this.name == "agree") {
        var checkedStatus = (this.checked && this.name == 'agree') ? '1' : '0';
        $.ajax({
            url: 'index.php?route=checkout/payment_method/agree&agree=' + checkedStatus,
            dataType: 'json',
            success: function(json) {

                //todo: json["error"] handling, in controller too

                //console.log(json);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

});

function paymentMethod() {
    return $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
        dataType: 'json',
        async: false,
        success: function(json) {
            //console.log("payment_method/save [paymentMethod()]");
            console.log(json);
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    c.emitError(c.paymentMethod, json['error']['warning']);
                }
            } else {
                c.ajaxBodyUpdate('confirm');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
    


$(document).delegate('#button-checkout-calculate', 'click', function() {

    //todo:
        // beforeSend: function() {
        // 	$('#button-account').button('loading');
		// },
        // complete: function() {
		// 	$('#button-account').button('reset');
        // },

    guestCheckout().then(function(){
        guestPaymentAddressZoneId().then(function(){
            guestPaymentAddress().then(function(){
                guestShippingAddress().then(function(){
                    shippingMethod().then(function(){
                        paymentMethod();
                    });
                });
            });
        });
    });
});


/////////////////////////////////////////////////////////////////////////////
// $(document).on('change', 'input[name=\'account\']', function() {
//     if (this.value == 'register') {
//         $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
//     } else {
//         $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
//     }
// });

// // Checkout
// $(document).delegate('#button-account', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
//         dataType: 'html',
//         beforeSend: function() {
//         	$('#button-account').button('loading');
// 		},
//         complete: function() {
// 			$('#button-account').button('reset');
//         },
//         success: function(html) {
//             $('.alert-dismissible, .text-danger').remove();
// 			$('.form-group').removeClass('has-error');

//             $(c.paymentAddress.body).html(html);

// 			if ($('input[name=\'account\']:checked').val() == 'register') {
// 				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
// 			} else {
// 				$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
// 			}
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// // Login
// $(document).delegate('#button-login', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/login/save',
//         type: 'post',
//         data: $('#collapse-checkout-option :input'),
//         dataType: 'json',
//         beforeSend: function() {
//         	$('#button-login').button('loading');
// 		},
//         complete: function() {
//             $('#button-login').button('reset');
//         },
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();
//             $('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 if (json['error']['warning']) { 
//                     c.emitError(c.login, json['error']['warning']); 
//                 }

// 				// Highlight any found errors
// 				$('input[name=\'email\']').parent().addClass('has-error');
// 				$('input[name=\'password\']').parent().addClass('has-error');
// 		   }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// // Register
// $(document).delegate('#button-register', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/register/save',
//         type: 'post',
//         data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address textarea, #collapse-payment-address select'),
//         dataType: 'json',
//         beforeSend: function() {
// 			$('#button-register').button('loading');
// 		},
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();
//             $('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 $('#button-register').button('reset');

//                 if (json['error']['warning']) {
//                     c.emitError(c.paymentAddress, json['error']['warning']);
//                 }
//                 c.addErrorElement('#input-payment-', json['error']);
// 				// Highlight any found errors
// 				$('.text-danger').parent().addClass('has-error');
//             } else {
//                 {% if shipping_required %}
//                 var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

//                 if (shipping_address) {
//                     $.ajax({
//                         url: 'index.php?route=checkout/shipping_method',
//                         dataType: 'html',
//                         success: function(html) {
// 							// Add the shipping address
//                             c.ajaxBodyUpdate('shippingAddress');
// 							$('#collapse-shipping-method .panel-body').html(html);
//                         },
//                         error: function(xhr, ajaxOptions, thrownError) {
//                             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                         }
//                     });
//                 } else {
//                     c.ajaxBodyUpdate('shippingAddress');
//                 }
//                 {% else %}
//                 c.ajaxBodyUpdate('paymentMethod');
//                 {% endif %}
//                 c.ajaxBodyUpdate('paymentAddress', '#button-register');
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// // Payment Address
// $(document).delegate('#button-payment-address', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/payment_address/save',
//         type: 'post',
//         data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
//         dataType: 'json',
//         beforeSend: function() {
//         	$('#button-payment-address').button('loading');
// 		},
//         complete: function() {
// 			$('#button-payment-address').button('reset');
//         },
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();
// 			$('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 if (json['error']['warning']) {
//                     c.emitWarning(c.paymentAddress, json['error']['warning']);
//                 }
//                 c.addErrorElement('#input-payment-', json['error']);
// 				// Highlight any found errors
// 				$('.text-danger').parent().parent().addClass('has-error');
//             } else {
//                 {% if shipping_required %}
//                 c.ajaxBodyUpdate('shippingAddress')
//                 .done(function() {
//                     c.ajaxBodyUpdate('paymentAddress');
// 				});
//                 {% else %}
//                 c.ajaxBodyUpdate('paymentMethod')
//                 .done(function() {
//                     c.ajaxBodyUpdate('paymentAddress');			
// 				});
//                 {% endif %}
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// // Shipping Address
// $(document).delegate('#button-shipping-address', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/shipping_address/save',
//         type: 'post',
//         data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
//         dataType: 'json',
//         beforeSend: function() {
// 			$('#button-shipping-address').button('loading');
// 	    },
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();
// 			$('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 $('#button-shipping-address').button('reset');

//                 if (json['error']['warning']) {
//                     c.emitWarning(c.shippingAddress, json['error']['warning']);
//                 }
//                 c.addErrorElement('#input-shipping-', json['error']);
// 				// Highlight any found errors
// 				$('.text-danger').parent().parent().addClass('has-error');
//             } else {
//                 $.ajax({
//                     url: 'index.php?route=checkout/shipping_method',
//                     dataType: 'html',
//                     complete: function() {
//                         $('#button-shipping-address').button('reset');
//                     },
//                     success: function(html) {
//                         $('#collapse-shipping-method .panel-body').html(html);
//                         c.ajaxBodyUpdate('shippingAddress');
//                     },
//                     error: function(xhr, ajaxOptions, thrownError) {
//                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                     }
//                 }).done(function() {
//                     c.ajaxBodyUpdate('paymentAddress');
// 				});
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// // Guest
// $(document).delegate('#button-guest', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/guest/save',
//         type: 'post',
//         data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
//         dataType: 'json',
//         beforeSend: function() {
//        		$('#button-guest').button('loading');
// 	    },
//         success: function(json) {

//             $('.alert-dismissible, .text-danger').remove();
// 			$('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 $('#button-guest').button('reset');

//                 if (json['error']['warning']) {
//                     c.emitWarning(c.paymentAddress, json['error']['warning']);
//                 }
//                 c.addErrorElement('#input-payment-', json['error']);
// 				// Highlight any found errors
// 				$('.text-danger').parent().addClass('has-error');
//             } else {
//                 {% if shipping_required %}
//                 var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');

//                 if (shipping_address) {
//                     $.ajax({
//                         url: 'index.php?route=checkout/shipping_method',
//                         dataType: 'html',
//                         complete: function() {
//                             $('#button-guest').button('reset');
//                         },
//                         success: function(html) {
// 							// Add the shipping address
//                             c.ajaxBodyUpdate('guestShipping');

// 						    $('#collapse-shipping-method .panel-body').html(html);
//                         },
//                         error: function(xhr, ajaxOptions, thrownError) {
//                             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//                         }
//                     });
//                 } else {
//                     c.ajaxBodyUpdate('guestShipping', '#button-guest');
//                 }
//                 {% else %}
//                 c.ajaxBodyUpdate('paymentMethod', '#button-guest');
//                 {% endif %}
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// // Guest Shipping
// $(document).delegate('#button-guest-shipping', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/guest_shipping/save',
//         type: 'post',
//         data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
//         dataType: 'json',
//         beforeSend: function() {
//         	$('#button-guest-shipping').button('loading');
// 		},
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();
// 			$('.form-group').removeClass('has-error');

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 $('#button-guest-shipping').button('reset');

//                 if (json['error']['warning']) {
//                     c.emitError(c.shippingAddress, json['error']['warning']);
//                 }
//                 c.addErrorElement('#input-shipping-', json['error']);
// 				// Highlight any found errors
// 				$('.text-danger').parent().addClass('has-error');
//             } else {
//                 c.ajaxBodyUpdate('shippingMethod', '#button-guest-shipping');
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// $(document).delegate('#button-shipping-method', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/shipping_method/save',
//         type: 'post',
//         data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
//         dataType: 'json',
//         beforeSend: function() {
//         	$('#button-shipping-method').button('loading');
// 		},
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 $('#button-shipping-method').button('reset');

//                 if (json['error']['warning']) {
//                     c.emitError(c.shippingMethod, json['error']['warning']);
//                 }
//             } else {
//                 c.ajaxBodyUpdate('paymentMethod', '#button-shipping-method');
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });

// $(document).delegate('#button-payment-method', 'click', function() {
//     $.ajax({
//         url: 'index.php?route=checkout/payment_method/save',
//         type: 'post',
//         data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
//         dataType: 'json',
//         beforeSend: function() {
//          	$('#button-payment-method').button('loading');
// 		},
//         success: function(json) {
//             $('.alert-dismissible, .text-danger').remove();

//             if (json['redirect']) {
//                 location = json['redirect'];
//             } else if (json['error']) {
//                 $('#button-payment-method').button('reset');
                
//                 if (json['error']['warning']) {
//                     c.emitError(c.paymentMethod, json['error']['warning']);
//                 }
//             } else {
//                 c.ajaxBodyUpdate('confirm', '#button-payment-method');
//             }
//         },
//         error: function(xhr, ajaxOptions, thrownError) {
//             alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
//         }
//     });
// });
//--></script>
{{ footer }}