<div class="col-sm-6">
    {% if shipping_required %}
    <div class="checkbox">
    <label> {% if shipping_address %}
        <input type="checkbox" name="shipping_address" value="1" checked="checked" />
        {% else %}
        <input type="checkbox" name="shipping_address" value="1" />
        {% endif %}
        {{ entry_shipping }}</label>
    </div>
    
    {% if not shipping_address %}
    <form class="form-horizontal collapsible">
        <div class="form-group required">
            <label class="control-label" for="input-shipping-firstname">{{ entry_firstname }}</label>
            <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-shipping-firstname" class="form-control" />
        </div>
        <div class="form-group required">
            <label class="control-label" for="input-shipping-lastname">{{ entry_lastname }}</label>
            <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-shipping-lastname" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label" for="input-shipping-company">{{ entry_company }}</label>
            <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-shipping-company" class="form-control" />
        </div>
        <div class="form-group required">
            <label class="control-label" for="input-shipping-address-1">{{ entry_address_1 }}</label>
            <input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-shipping-address-1" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label" for="input-shipping-address-2">{{ entry_address_2 }}</label>
            <input type="text" name="address_2" value="{{ address_2 }}" placeholder="{{ entry_address_2 }}" id="input-shipping-address-2" class="form-control" />
        </div>
        <div class="form-group required">
            <label class="control-label" for="input-shipping-city">{{ entry_city }}</label>
            <input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-shipping-city" class="form-control" />
        </div>
        <div class="form-group required">
            <label class="control-label" for="input-shipping-postcode">{{ entry_postcode }}</label>
            <input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-shipping-postcode" class="form-control" />
        </div>
        <div class="form-group required">
            <label class="control-label" for="input-shipping-country">{{ entry_country }}</label>
            <select name="country_id" id="input-shipping-country" class="form-control">
                <option value="">{{ text_select }}</option>
                
                {% for country in countries %}
                {% if country.country_id == country_id %}
                
                <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                
                {% else %}
                
                <option value="{{ country.country_id }}">{{ country.name }}</option>
                
                {% endif %}
                {% endfor %}
            
            </select>
        </div>
        <div class="form-group required">
            <label class="control-label" for="input-shipping-zone">{{ entry_zone }}</label>
            <select name="zone_id" id="input-shipping-zone" class="form-control">
            </select>
        </div>

    </form>
    {% endif %}
    
    {% endif %}
</div>